.hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 270px;
}

.poster-container {
  width: 100%;
}

.poster {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.ticket-container {
  margin-top: 10px;
  text-align: center;
}

.ticket__buy-btn {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}